@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
body {
    margin: 0;
    font-family: 'Roboto Slab', serif;
	font-size: 22px;	
    background-color: #8EB8E5;
    display: flex;
	position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    width: 94%;
    height: 94%;
	min-height: 100vh;
	color: #492C1D;
}

img{
	max-width: 92%;
	max-height: 92%;
	object-fit: contain;
	padding: 3px;
}

#game
{
	width: 470px;
	background-color: #7C99B4;
	justify-content: center;
}

#dice1, #dice2{
	height: 200px;
	width: 200px;

	justify-content: center;
	vertical-align: middle;
	display: flex;
	flex-direction: row;
}

#money{
	float: left;
}

p{
	text-align: center;
}
