body {
    font-family: 'Cairo', sans-serif;
    font-weight: 300;
    background-color: #aee3a6;
	color: #0f3800;
	font-size: 14pt;
	
}

h2
{
	text-align: center;
}

h3
{
	margin-top = 0px;
}

#titulo
{
	text-align: center;
}

#description
{
	background-color: #0f3800;
	color: #aee3a6;
	width: 80%;
	padding: 3px;
	margin: auto;
}

#ciphertext
{
	word-wrap: break-word;
	font-family: 'Source Code Pro';
}

textarea#plainText
{
	resize: none;
	background-color: #aee3a6;
	border-width: 2px;
	border-color: #0f3800;
	font-size: 12pt;
}

#stuff
{
	width: 93%;
	padding: 3px;
	margin: auto;
	margin-top: 13px;
}

#box_header
{
	font-size: 22px;
	margin-bottom: 3px;
}